@model ECommerceProject.Models.ViewModels.RegisterUserVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="section-form">
    <div class="row">

            <div class="wrapper-form">
                <form action="/UserAccount/Register" method="post" name="login-form" class="form">
                    @Html.ValidationSummary(true, "", new { @style = "color:red", @class = "form__validation" })
                    <div class="col-1-of-3">
                        <div class="heading-secondary form__title">Registration Form</div>
                        <div class="heading-tertiary">It only takes minutes</div><br />
                        <div class="form__group">
                            <input type="email" name="Email" id="email" class="form__input" placeholder="Enter your Email" required />
                            <label class="form__label" for="email">Email Address</label>
                        </div>
                        <div class="form__group">
                            <input type="password" name="Password" id="password" class="form__input" placeholder="Enter your Password" required />
                            <label class="form__label" for="password">Enter Password</label>
                        </div>
                        <div class="form__group">
                            <input type="text" name="country" id="country" class="form__input" placeholder="Enter your Country" required />
                            <label class="form__label" for="country">Enter Country</label>
                        </div>
                        <div class="form__group">
                            <input type="text" name="City" id="city" class="form__input" placeholder="Enter your City" required />
                            <label class="form__label" for="password">Enter City</label>
                        </div>
                        <div class="form__group">
                            <button tabindex="5" class="btn btn--primary">Register &rarr;</button>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="heading-secondary form__title">&nbsp;</div>
                        <div class="heading-tertiary">&nbsp;</div><br />
                        <div class="form__group">
                            <input type="text" name="Province" id="province" class="form__input" placeholder="Enter your Province" required />
                            <label class="form__label" for="password">Enter Province</label>
                        </div>
                        <div class="form__group">
                            <input type="text" name="Street" id="street" class="form__input" placeholder="Enter your Street" />
                            <label class="form__label" for="street">Enter Street</label>
                        </div>
                        <div class="form__group">
                            <input type="text" name="Residence" id="residence" class="form__input" placeholder="Enter your Residence" required />
                            <label class="form__label" for="residence">Enter Residence</label>
                        </div>
                        <div class="form__group">
                            <input type="text" name="Phone" id="phone" class="form__input" placeholder="Enter your Phone" />
                            <label class="form__label" for="password">Enter Phone</label>
                        </div>
                    </div>
                </form>
            </div>

    </div>
</div>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Residence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Residence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Residence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
}*@
